// Variables

$greenLight: #A3CF65;
$green: #8DC63F;
$greenDark: #709E40;

$blueLight: #78B0B6;
$blue: #569EA4;
$blueDark: #467F83;

$purpleLight: #BA94C4;
$purple: #A87BB5;
$purpleDark: #88639C;

$redLight: #F5857E;
$red: #F2665E;
$redDark: #CE5750;

$orangeLight: #F8A464;
$orange: #F68D3D;
$orangeDark: #D17834;

$yellowLight: #FECF64;
$yellow: #FEB611;
$yellowDark: #E4A30F;

$greyLight: #E6E7E8;
$grey: #929497;
$greyDark: #58595B;

$white: #f4f4f4;
$black: #58595B;

$clientPrimary: #68BC49;
$clientSecondary: #008952;

$gutter: 20px;
$box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
$border-radius: 4px;
$transition: all 0.35s ease;

// Global

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: $clientSecondary;
	text-align: center;
}

.container-fluid {
	padding: 0;
}

section {
	width: 100%;
	max-width: 414px;
	margin: 0px auto;
	padding: $gutter 0px;
}

h1, h3 {
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

p {
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

.light {
	font-weight: 300;
}

// Logo Section

#logo {

	width: 75%;
	margin: 0px auto;
	padding: $gutter 0px;

	.brandLogo {
		max-width: 200px;
	}

}

// Offer Text Section

#offerText {

	background-color: $clientPrimary;
	padding: $gutter 0px;
	color: #fff;
	width: 100% !important;

	h1 {
		font-size: 24px;
	}

}

// Main legal Section

.mainLegal {
	
	p {
		font-size: 10px;
		color: $clientPrimary;
	}

}

// Redeem Button Section

#init_redeem {
	padding: 0;
}

#redeemButton {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background: $clientSecondary;
	padding: $gutter/4 $gutter/2;
	border-radius: 4px;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

// Expiration Text Styles

.expirationDate {
	padding: $gutter/2 0px;
	font-size: 10px;
	color: $greyDark;
}

// Feedback Styles

#feedback {
	
	button {
		text-decoration: none;
		color: #fff;
		box-shadow: $box-shadow;
		text-align: center;
		font-weight: 700;
	}

	#Likeofferfeedback {
		background-color: $green;
		transition: $transition;

		&:hover {
			background-color: $greenDark;
		}

	}

	#DisLikeofferfeedback {
		background-color: $red;
		transition: $transition;

		&:hover {
			background-color: $redDark;
		}
	}

}

// Confirm Dialog Modal

#myModal {
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 75%;
	margin: 0px auto;

	.modal-header {
		padding: $gutter/2 $gutter;
		border-bottom: none;
		background-color: $clientPrimary;
		color: $white;
		-webkit-border-top-left-radius: $border-radius;
		-webkit-border-top-right-radius: $border-radius;
		-moz-border-radius-topleft: $border-radius;
		-moz-border-radius-topright: $border-radius;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		text-transform: uppercase;
	}

	.modal-body {
		width: 75%;
		margin: 0px auto;
	}

}

// Confirm Dialog Modal

// .confirmDialog {
// 	width: 75%;
// 	background-color: $white;
// 	border-radius: $border-radius;
// 	box-shadow: $box-shadow;
// 	padding: 0;

// 	section {
// 		padding: 0px;
// 	}

// 	.header {
// 		padding: $gutter/2;
// 		color: $white;
// 		background-color: $clientPrimary;

// 		h2 {
// 			margin: 0;
// 			padding: 0;
// 			font-weight: 700;
// 			text-transform: uppercase;
// 		}

// 	}

// 	.modalContent {
// 		padding: $gutter/2;
// 		background-color: $white;
// 	}

// }












// // Refer a Friend Button Section

// #referButton {
	
// 	a {
// 		text-decoration: none;
// 		text-transform: uppercase;
// 		font-size: 18px;
// 		font-weight: 700;
// 		color: #fff;
// 		background: $subwayDark;
// 		padding: $gutter/4 $gutter/2;
// 		border-radius: 4px;
// 		-webkit-box-shadow: $box-shadow;
// 		-moz-box-shadow: $box-shadow;
// 		box-shadow: $box-shadow;
// 	}

// }

// // Expiration Text Section

// #expiration {
	
// 	p {
// 		color: $subwayLight;
// 		font-size: 14px;
// 		font-weight: 700;
// 	}

// }

// #redeemWarning {
// 	color: $mobivityGrey;
// 	font-size: 10px;
// }

// // ---------------------------------------------------------

// // Refer a Friend Specific Sections

// // ---------------------------------------------------------

// // Progress Text

// #progressText {

// 	h3 {
// 		font-weight: 400;
// 	}

// 	span {
// 		font-weight: 700;
// 	}

// }

// // Progress Bar

// #progressBar {
	
// 	padding: 0px;
// 	min-height: 35px;
// 	float: center;
// 	text-align: center;
// 	margin: 0px auto;
// 	width: 100%;
// 	border: 2px solid $subwayDark;
// 	border-radius: 25px;
// 	background: none;
// 	color: #fff;

// 	.progress {
// 		float: left;
// 		min-height: 30px;
// 		border: 3px solid #fff;
// 		text-align: center;
// 		margin: 0px auto;
// 		width: 40%;
// 		border-radius: 25px;
// 		background: $subwayDark;
// 		font-size: 14px;
// 		line-height: 24px;
// 	}

// }

// // Share Buttons

// #shareButtons {

// 	.row {
// 		margin: 0px auto;
// 		padding: 0px;
// 		text-align: center;
// 	}

// 	.centered {
// 		float: none;
// 		margin: 0 auto;
// 	}

// 	.button {
// 		border-radius: 4px;
// 		font-size: 12px;
// 		color: #fff;
// 		padding: 4px 20px;
// 		text-decoration: none;
// 		width: 70px;
// 		box-shadow: $box-shadow;
// 		margin: 0px auto;
// 	}

// 	#facebook {
// 		.button {
// 			background-color: #3B5998;
// 			background-image: url('http://i.imgur.com/6LBKUKf.png');
// 			background-repeat: no-repeat;
// 			background-position: 15% 45%;
// 			background-size: 6px;
// 			padding-left: 27px;
// 			display: block;
// 		}
// 	}

// 	#twitter {
// 		.button {
// 			background-color: #55acee;
// 			background-image: url('http://i.imgur.com/DzbV4JZ.png');
// 			background-repeat: no-repeat;
// 			background-position: 12% 50%;
// 			background-size: 15px;
// 			padding-left: 30px;
// 			display: block;
// 		}
// 	}

// 	#sms {
// 		.button {
// 			background-color: #60B561;
// 			background-image: url('http://i.imgur.com/q8JjQLf.png');
// 			background-repeat: no-repeat;
// 			background-position: 20% 50%;
// 			background-size: 15px;
// 			padding-left: 35px;
// 			display: block;
// 		}
// 	}

// }

// // Phone Number Input Container

// #inputContainer {

// 	p {
// 		font-size: 18px;
// 		padding-bottom: $gutter;
// 	}

// 	input:focus {
// 		outline: none;
// 	}
	
// 	margin: 0px auto;
// 	text-align: center;

// 	input[type="text"] {
// 		width: 75%;
// 		border: none;
// 		border: 1px solid $mobivityGrey;
// 		border-radius: $border-radius;
// 		background-color: rgba(0, 0, 0, 0);
// 		padding: 7px;
// 		font-size: 18px;
// 		text-align: center;
// 	}

// }

// #feedback {

// 	padding-top: $gutter/2;

// 	a {
// 		text-decoration: none;
// 		padding: $gutter/2 $gutter;
// 		border-radius: $border-radius;
// 		color: #fff;
// 		box-shadow: $box-shadow;
// 		text-align: center;
// 	}

// 	#like {
// 		a {
// 			background-color: $mobivityGreen;
// 			background-image: url('../images/up.png');
// 			background-repeat: no-repeat;
// 			background-position: 25% 50%;
// 			background-size: 12px;
// 			padding-left: 40px;
// 			margin-right: -40px;
// 		}
// 	}

// 	#dislike {
// 		a {
// 			background-color: $mobivityRed;
// 			background-image: url('../images/down.png');
// 			background-repeat: no-repeat;
// 			background-position: 25% 50%;
// 			background-size: 12px;
// 			padding-left: 40px;
// 			margin-left: -40px;
// 		}
// 	}

// }










































