// //////////////////////////////////////////////////////////////////////////////////////////////
// Imports
// //////////////////////////////////////////////////////////////////////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import 'reset';
@import 'variables';
@import 'global';

// //////////////////////////////////////////////////////////////////////////////////////////////
// Expiration Text Section
// //////////////////////////////////////////////////////////////////////////////////////////////

#expirationTimerSection {

	padding: $gutter*2 0;
	
	#countdownText {

		text-align: left;

		.verticalCenterWrapper {

			@include vertical-align();

		  h3 {
		  	font-size: 16px;
		  	font-weight: 700;
		  	margin-bottom: $gutter/2;
		  }

		  @media screen and (min-width: 375px) {
		  	h3 {
		  		font-size: 20px;
		  	}
		  }

		  @media screen and (min-width: 414px) {
		  	h3 {
		  		font-size: 22px;
		  	}
		  }

		  p {
		  	font-size: 12px;
		  }

		}

	}

	#countdownTimer {

		.c-container {

			position: relative;
			width: 90%;
			margin: 0px auto;

			.c-text {
				position: absolute;
				width: 100%;
				text-align: center;
				color: $clientPrimary;
				font-size: 32px;
				line-height: 24px;
				top: 50%;
				margin-top: -15px;
				font-weight: 300;
			}
			
			svg {
				width: 100%;
			}

		}

	}

}