// Variables

$greenLight: #A3CF65;
$green: #8DC63F;
$greenDark: #709E40;

$blueLight: #78B0B6;
$blue: #569EA4;
$blueDark: #467F83;

$purpleLight: #BA94C4;
$purple: #A87BB5;
$purpleDark: #88639C;

$redLight: #F5857E;
$red: #F2665E;
$redDark: #CE5750;

$orangeLight: #F8A464;
$orange: #F68D3D;
$orangeDark: #D17834;

$yellowLight: #FECF64;
$yellow: #FEB611;
$yellowDark: #E4A30F;

$greyLight: #E6E7E8;
$grey: #929497;
$greyDark: #58595B;

$white: #f4f4f4;
$black: #58595B;

$clientPrimary: #D62637;
$clientSecondary: #0A5392;

$gutter: 20px;
$box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
$border-radius: 4px;
$transition: all 0.35s ease;

// Vertically Center Mixin

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}