// //////////////////////////////////////////////////////////////////////////////////////////////
// Imports
// //////////////////////////////////////////////////////////////////////////////////////////////

@import 'reset';
@import 'variables';
@import 'global';

// //////////////////////////////////////////////////////////////////////////////////////////////
// Main legal Section
// //////////////////////////////////////////////////////////////////////////////////////////////

.mainLegal {
	
	p {
		font-size: 18px;
		font-weight: 300;
		color: $black;
		line-height: 1.1em;
	}

	a {
		font-weight: 700;
		color: $green;
	}

	span {
		font-weight: 700;
	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Redeem Button Section
// //////////////////////////////////////////////////////////////////////////////////////////////

#init_redeem {
	padding: 0;
	margin: 0px auto;
}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Expiration Text Styles
// //////////////////////////////////////////////////////////////////////////////////////////////

.expirationDate {
	padding: $gutter/2 0px;
	font-size: 10px;
	color: $black;
}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Legal Warning Section
// //////////////////////////////////////////////////////////////////////////////////////////////

.legalWarning {
	
	p {
		font-size: 12px;
		color: $black;
		font-weight: 300;
	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Confirm Dialog Modal
// //////////////////////////////////////////////////////////////////////////////////////////////

#myModal {
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 75%;
	margin: 0px auto;

	.modal-header {
		padding: $gutter/2 $gutter;
		border-bottom: none;
		background-color: $clientPrimary;
		color: $white;
		-webkit-border-top-left-radius: $border-radius;
		-webkit-border-top-right-radius: $border-radius;
		-moz-border-radius-topleft: $border-radius;
		-moz-border-radius-topright: $border-radius;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		text-transform: uppercase;
	}

	.modal-title {
		font-weight: 700;
		font-size: 18px;
	}

	.modal-body {
		width: 75%;
		margin: 0px auto;
		color: $black;

		p {
			margin-bottom: $gutter;
		}
		
		.button {
			display: block;
			padding: $gutter/2 $gutter;
			background-color: $white;
			border-radius: $border-radius;
			box-shadow: $box-shadow;
			color: $white;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: $gutter;

			&:hover {
				text-decoration: none;
			}

			&#cancel {
				background-color: $clientSecondary;
			}

			&#confirm {
				background-color: $clientPrimary;
			}

		}

	}

}