// //////////////////////////////////////////////////////////////////////////////////////////////
// Global
// //////////////////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300,400,700');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #fff;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: $clientSecondary;
	text-align: center;
}

body {
	margin-bottom: 158px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 158px;

  img {
  	max-width: 90%;
  }

}

.container-fluid {
	padding: 0;
}

section {
	width: 100%;
	max-width: 414px;
	margin: 0px auto;
	padding: $gutter 0px;
}

h1, h3 {
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

p {
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

.light {
	font-weight: 300;
}

#button {
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background: $clientPrimary;
	padding: $gutter/4 $gutter/2;
	border-radius: 4px;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
	margin: 0px auto;
}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Logo Section
// //////////////////////////////////////////////////////////////////////////////////////////////

#logo {

	width: 100%;
	margin: 0px auto;
	padding: $gutter 0px;

	.brandLogo {
		max-width: 200px;
	}

}

// //////////////////////////////////////////////////////////////////////////////////////////////
// Offer Text and Top Legal Section
// //////////////////////////////////////////////////////////////////////////////////////////////

#offerText {

	background-color: $clientSecondary;
	padding: $gutter 0px;
	color: $white;
	width: 100% !important;
	font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, Arial, sans-serif;

	h1 {
		font-size: 20px;
	}

	@media screen and (min-width: 375px) {

		h1 {
			font-size: 24px;
		}

	}

	p {
		font-size: 10px;
	}

}









